.container {
	display: flex;
	height: calc(100vh - 250px);
	flex-direction: column;
}

.container h2 {
	text-align: center;
	margin-bottom: 37px;
}

.login-form {
	width: 50%;
	margin: 0 auto;
}

.form-group {
	margin-bottom: 20px;
}

label {
	display: block;
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 7px;
	color: #3d3d3d;
}

input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid transparent;
	box-shadow: 0px 4px 14px 0px #00000017;
}

button[type="submit"] {
	background-color: #1d6154;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 60px;
	display: block;
	margin: 37px auto 28px auto;
}

.login-form p {
	text-align: center;
	text-decoration: underline;
	color: #3d3d3d;
	font-weight: 500;
	cursor: pointer;
}
