* {
  scroll-behavior: smooth;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #fffef8;
}
body header,
body main,
body footer {
  max-width: 1440px;
  margin: auto;
}
body main {
  padding: 0 245px;
}
.edition-header {
  background-color: #000;
  height: 59px;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}
.edition-header_content {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  display: flex;
  gap: 11px;
  font-size: 16px;
}

body header {
  display: flex;
  justify-content: space-between;
  padding: 39px 150px 0 150px;
}

section {
  margin: 50px 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 31px;
  margin-top: 5px;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

nav img {
  height: 19px;
  margin-top: 4px;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  gap: 72px;
  align-items: center;
  padding: 89px 0;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 474px;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

.title-MesProjets {
  position: relative;
  width: fit-content;
  margin: auto;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

#projectModificationButton {
  display: none;
  align-items: center;
  width: fit-content;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #000;
  gap: 8px;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  position: absolute;
  left: calc(100% + 31px);
  top: 50%;
  transform: translateY(-50%);
}

.edition-admin {
  display: flex;
  gap: 10px;
}

.Btn-Filter {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 51px;
  margin-top: 51px;
}

.Btn-Filter button {
  border: #1d6154 1px solid;
  border-radius: 60px;
  color: #1d6154;
  font-size: 16px;
  font-weight: 700;
  background-color: #fffef8;
  padding: 10px;
  min-width: 100px;
  font-family: "Syne";
}

.Btn-Filter button.clicked {
  color: white;
  background-color: #1d6154;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

#modalProjectModification,
#modalAddProject {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 0 105px;
  max-width: 420px;
  height: 688px;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-modal,
.close-modal2 {
  position: absolute;
  top: 24px;
  right: 30px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.modal-content h3 {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 26px;
  margin-top: 60px;
}

.modal-gallery {
  display: grid;
  grid-template-columns: repeat(5, 78px);
  justify-content: center;
  margin-top: 48px;
  gap: 6px;
  row-gap: 25px;
}

.image-container {
  position: relative;
  min-width: 40px;
  min-height: 66px;
  width: 100%;
  max-width: 78px;
  max-height: 104px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-delete {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border: none;
  cursor: pointer;
}

.trash-icon {
  color: #fff;
  font-size: 9px;
}

.line {
  border: solid 1px #b3b3b3;
  width: 420px;
  position: absolute;
  bottom: 119px;
}

.button-addWorks {
  border-radius: 60px;
  background-color: #1d6154;
  color: #fff;
  font-size: 14px;
  font-family: "Syne";
  font-weight: 700;
  padding: 10px 49px;
  border: transparent;
  position: absolute;
  bottom: 45px;
}

.back-icon {
  position: absolute;
  top: 26px;
  left: 30px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

#addProject {
  width: 100%;
  margin-top: 36px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #3d3d3d;
  margin-top: 21px;
}

.image-form-group {
  display: flex;
  flex-direction: column;
  background-color: #e8f1f6;
  height: 169px;
  text-align: center;
  margin-bottom: 30px;
}

.image-afficher i {
  font-size: 66px;
  color: #b9c5cc;
  margin-top: 22.5px;
}

.image-afficher img {
  height: 100%;
  max-height: 169px;
}

.upload-file-trigger {
  border-radius: 60px;
  padding: 10px 33px;
  background-color: #cbd6dc;
  margin: auto;
  cursor: pointer;
  border: none;
  max-width: 173px;
  max-height: 36px;
  margin-top: 12px;
  margin-bottom: 8px;
}

.upload-file-trigger label {
  color: #306685;
  cursor: pointer;
}

.upload-file-trigger input {
  position: absolute;
  z-index: 0;
  opacity: 0;
}

.image-form-group p {
  font-size: 10px;
  font-weight: 400;
  color: #444444;
}

.form-group input[type="text"],
.form-group select {
  height: 51px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  border: none;
  outline: none;
  background: #fff;
  font-size: 14px;
  padding-left: 16px;
  color: #444444;
  font-weight: 400;
}

.btn-valid {
  border-radius: 60px;
  width: 237px;
  padding: 10px 49px;
  color: #fff;
  font-size: 14px;
  font-family: "Syne";
  font-weight: 700;
  border: transparent;
  position: absolute;
  bottom: 55px;
  left: 195px;
}

.btn-valid:disabled {
  background-color: #a7a7a7;
}

.enabled {
  background-color: #1d6154 !important;
}
